<!DOCTYPE html>
<html>
<head>
  <title>Maua</title>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico'%>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> <img src="full_logo.png" alt="Maua" style="width:3em;height:3em"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="navbar-tittle"><%= link_to 'Home', root_path, id: "navbar-tittle"%></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-maua">
<!--         <li><a id="navbar-maua">Mission</a></li>
        <li><a id="navbar-maua">Projets</a></li>
        <li><a id="navbar-maua">Equipe</a></li> -->
        <li><a id="navbar-maua">Contacts</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <h5>Maua - Restauring Africa Dignity</h5>
      <ul class="list-inline social text-center">
        <h7>Follow us</h7>
        <li>
          <a href="https://twitter.com">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"></script>
</body>
</html>
